extends ../layouts/layout-main
block content
  form.login-form(style='width: 300px;margin-top: 20vh;padding: 20px;background: #f2f2f2;border-radius: 5px;')
    .form-group
      label Email address
      input.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted You can also use your username
    .form-group
      label Password
      input.form-control(type='password', placeholder='Password')
    button.btn.btn-primary(type='submit') Submit
