li
  a.dropdown-item(href='https://xd.adobe.com/view/e46d392a-9d20-442f-64e0-55861b52b2ca-925c/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/blob/master/eos-website-design/Components/Form/form-elements.xd', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | Adobe XD file
//- li
//-   a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/blob/master/eos-website-design/Components/Button/buttons-1.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
//-     i.eos-icons.eos-18
//-       | file_download
//-     | SVG file
