/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard-writing/dashboard-writing.variables.scss */

.writing-mosaic {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $eos-da-w-writing-mosaic-max-width;

  @media screen and (max-width: $eos-sd-max) {
    display: none;
  }
}

/* card-colored in writing page.
  ========================================================================== */
.card-colored {
  @media screen and (max-width: $eos-sd-max) {
    border: 0;
  }

  figure {
    height: $eos-da-w-card-colored-figure-height;
    padding: $eos-da-w-card-colored-figure-padding;
    width: $eos-da-w-card-colored-figure-width;

    @media screen and (max-width: $eos-sd-max) {
      display: flex;
      justify-content: center;
      margin-top: $eos-da-w-card-colored-figure-m-margin-top;
      padding: $eos-da-w-card-colored-figure-m-padding;
      width: $eos-da-w-card-colored-figure-m-width;
    }

    @media screen and (max-width: $eos-da-w-custom-breakpoint) {
      height: auto;
      padding: $eos-da-w-card-colored-figure-m-padding;
      width: 25%;
    }

    img {
      @media screen and (max-width: $eos-sd-max) {
        display: block;
        height: $eos-da-w-card-colored-figure-img-m;
        width: 100%;
      }
    }
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $eos-da-w-card-colored-content-margin-bottom;
    padding: $eos-da-w-card-colored-content-padding;
    width: $eos-da-w-card-colored-content-width;

    @media screen and (max-width: $eos-sd-max) {
      flex-direction: column;
    }
  }

  header {
    width: $eos-da-w-card-colored-head-width;
  }

  h3 {
    font-weight: 300;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
