/* Tabs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */

$eos-table-border-color: $eos-bc-gray-50;
$eos-table-text-color: $eos-bc-gray-900;
$eos-table-tr-th-border-color: $eos-bc-gray-900;


$eos-table-tr-th-padding: $eos-m;
$eos-table-border: 1px solid #ddd;

