.mobile-menu.js-mobile-menu
  header
    a(href='/')
      img(src='/images/eos-logo.png', alt='EOS Design System logotype')

    .burger-menu.js-burger-menu
      a
        i.eos-icons.eos-36
          | menu
  nav.display-nav
    //- Extend menu list mixin
    include  main-menu.pug
