/* Feedback tool variables
  ========================================================================== */
/* Shared */
/* Colors variables at: /assets/stylesheets/eos-base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */

$eos-feedback-content-margin-top: $eos-m;
$eos-feedback-content-font-size: $eos-m - 4;

$eos-feedback-tool-left: 40%;
$eos-feedback-tool-left-sd: 8%;
$eos-feedback-tool-left-md: 20%;
$eos-feedback-tool-top: 25%;
$eos-feedback-tool-width: 300px;

/* Card */
$eos-feedback-tool-card-header-background: $eos-bc-pine-500;
$eos-feedback-tool-card-header-color: $eos-bc-white;
$eos-feedback-tool-card-header-padding: $eos-m;
$eos-feedback-tool-card-message-length:  $eos-s + 2;
$eos-feedback-tool-card-message-length-color:  $eos-bc-gray-500;
$eos-feedback-tool-card-content-padding: $eos-m;

/* Form */
$eos-feedback-tool-text-area-border-color: $eos-bc-gray-100;
$eos-feedback-tool-text-area-margin-top: $eos-xl;
$eos-feedback-tool-screenshoot-p-margin-left: $eos-s;
$eos-feedback-tool-screenshoot-input-margin: 2px 5px 0 0;
$eos-feedback-tool-attached-screenshoot-background: $eos-bc-pine-500;
$eos-feedback-tool-attached-screenshoot-color: $eos-bc-white;
$eos-feedback-tool-attached-screenshoot-border-radius: $eos-xs - 2;
$eos-feedback-tool-attached-screenshoot-padding: $eos-m;
$eos-feedback-tool-checkbox-margin-right: $eos-s;

/* Success page */
$eos-feedback-tool-success-p-background: #F7F7F7;
$eos-feedback-tool-success-p-padding: $eos-l;
$eos-feedback-tool-success-img-width: 120px;

/* Button */
$eos-feedback-tool-button-background: $eos-bc-pine-500;
$eos-feedback-tool-button-color: $eos-bc-white;
$eos-feedback-tool-button-size: $eos-xl;
$eos-feedback-tool-button-top: 50%;
