/* Icons
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/icon-guides/icon-guides.variables.scss */

.icon-guides-rules {
  background: $eos-icon-guide-bg;
  background-size: contain;
}

@media screen and (max-width: $eos-icon-guide-mq) {
  .icon-guides-rules {
    background: none;
  }
}

.content-centered {
  vertical-align: middle;
}
